# api
CORS_ORIGIN=https://ownersearch.pittsburghousing.org
SELF_HOST=owner-api.pittsburghhousing.org
JWT_AUDIENCE=account
JWT_ISSUER=https://accounts.gaze.dev/auth/realms/gaze-accounts
JWT_NETWORK_URI=https://accounts.gaze.dev/auth/realms/gaze-accounts
JWT_CLIENT=ownersearch
JWT_CLIENT_ROLE=api-access
