# postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# import
# ASSESSMENTS_FILE=AC_Property_Assessments_20200115.csv
ASSESSMENTS_FILE=AC_Property_Assessments_20200701.csv

# api
CORS_ORIGIN=https://ownersearch.pittsburghousing.org
# db url structure: type://user:pass@host:port/name
DATABASE_URL=
SELF_HOST=owner-api.pittsburghhousing.org
JWT_AUDIENCE=account
JWT_ISSUER=https://accounts.gaze.dev/auth/realms/gaze-accounts
JWT_NETWORK_URI=https://accounts.gaze.dev/auth/realms/gaze-accounts
JWT_CLIENT=ownersearch
JWT_CLIENT_ROLE=api-access
