# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=changeme
POSTGRES_DB=db

# import
# ASSESSMENTS_FILE=AC_Property_Assessments_20200115.csv
ASSESSMENTS_FILE=AC_Property_Assessments_20200701.csv

# api
CORS_ORIGIN=*
# db url structure: type://user:pass@host:port/name
DATABASE_URL=postgres://root:changeme@postgres:5432/db
SELF_HOST=localhost:23088
JWT_AUDIENCE=account
JWT_ISSUER=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_NETWORK_URI=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_CLIENT=ownersearch
JWT_CLIENT_ROLE=api-access
SUPER_ADMIN=
# DANGER: If you uncomment this, it will force wipe and restructure the database
# DB_DESTROY_DATABASE_RESTRUCTURE=DB_DESTROY_DATABASE_RESTRUCTURE
