# api
CORS_ORIGIN=*
SELF_HOST=localhost:23088
JWT_AUDIENCE=account
JWT_ISSUER=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_NETWORK_URI=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_CLIENT=ownersearch
JWT_CLIENT_ROLE=api-access
